body, html {
    background-color: #e3ebeb;  
    height: 100%; 
    width: 100%;  
}

/*----navbar-----*/
.navbar {
    background-color: #297cdb !important;

}
.navbar-nav {
    padding: 5px 0px 5px 0px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link ,a {
    color: #435468;
    text-decoration: none;
    background-color: transparent;
}

/*----breadcrumbs----*/
.breadcrumb {
    background-color: #1d2124;
    padding: 75px !important;
}

.breadcrumb, a{
    color: aliceblue;
}

.img {
    text-align: center;
    /*background-color: blue;*/
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('img/blur-close-up-code-546819.jpg')!important;
}